
<AuthorizeView>
    <Authorized>
        <div class="top-row container-fluid ps-3 navbar ">
            <div class="container-fluid">
                <a class="navbar-brand" style=" color: var(--text-color) ">
                    Welcome, @context.User.Identity!.Name
                </a>
            </div>
        </div>

        <div class="nav-scrollable" style="align-self: start;">
            <nav class="flex-column">

                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="/home/dashboard">
                        <span class="bi bi-house-door-fill fs-3  nav-menu"></span>
                        <span style="padding-left:5px">Home</span>
                    </NavLink>
                </div>
                <!-- Administration Menu -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" @onclick="ShowAdminMenuContainer" href="javascript:void(0)" style="cursor:pointer">
                        <div class="hstack gap-1">
                            <span class="bi bi-file-person-fill fs-3 text-center"></span>
                            <span style="padding-left:5px">Administration</span>
                            <span class="@AdminIcon" style="padding-left:3px"></span>
                        </div>
                    </NavLink>

                    <div class="slide-toggle @(ShowHide ? "show" : "") nav-link-group">
                        <a class="nav-link p-1">
                            <div class="hstack" @onclick="UserClicked">
                                <span class="bi bi-people fs-5 text-center"></span>
                                <span style="padding-left:5px">Users</span>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Department Menu -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" @onclick="ShowDepartmentContainer" href="javascript:void(0)" style="cursor:pointer">
                        <div class="hstack gap-1">
                            <span class="bi bi-backpack4-fill fs-3 text-center"></span>
                            <span style="padding-left:5px">Management</span>
                            <span class="@DepartmentIcon" style="padding-left:3px"></span>
                        </div>
                    </NavLink>

                    <div class="slide-toggle @(ShowHideDepartment ? "show" : "") nav-link-group">
                        <ul class="list-group">
                            <li style="list-style:none" class="cursorStyle">
                                <a class="nav-link p-1" @onclick="GeneralDepartmentClicked">
                                    <div class="hstack">
                                        <span class="bi bi-file-medical fs-5 text-center"></span>
                                        <span style="padding-left:6px">General Department</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none" class="cursorStyle" @onclick="DepartmentClicked">
                                <a class="nav-link p-1">
                                    <div class="hstack">
                                        <span class="bi bi-substack fs-5 text-center"></span>
                                        <span style="padding-left:6px">Department</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none" class="cursorStyle" @onclick="BranchClicked">
                                <a class="nav-link p-1">
                                    <div class="hstack">
                                        <span class="bi bi-safe fs-5 text-center"></span>
                                        <span style="padding-left:6px">Branch</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none">
                                <hr />
                            </li>
                            <li style="list-style:none" class="cursorStyle" @onclick="CountryClicked">
                                <a class="nav-link p-1">
                                    <div class="hstack">
                                        <span class="bi bi-geo fs-5 text-center" aria-hidden="true" ></span>
                                        <span style="padding-left:6px">Country</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none" class="cursorStyle" @onclick="CityClicked">
                                <a class="nav-link p-1">
                                    <div class="hstack">
                                        <span class="bi bi-pin-map-fill fs-5 text-center" aria-hidden="true"></span>
                                        <span style="padding-left:6px">City</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none" class="cursorStyle" @onclick="TownClicked">
                                <a class="nav-link p-1">
                                    <div class="hstack">
                                        <span class="bi bi-geo-alt fs-5 text-center" aria-hidden="true" ></span>
                                        <span style="padding-left:6px">Town</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none">
                                <hr />
                            </li>
                            <li style="list-style:none" class="cursorStyle" @onclick="EmployeeClicked">
                                <a class="nav-link p-1">
                                    <div class="hstack">
                                        <span class="bi bi-safe fs-5 text-center" aria-hidden="true" ></span>
                                        <span style="padding-left:6px">Employee</span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private bool ShowHide { get; set; } = false;
    private bool ShowHideDepartment { get; set; } = false;

    private string AdminIcon => ShowHide ? "bi bi-sort-up-alt" : "bi bi-sort-down-alt";
    private string DepartmentIcon => ShowHideDepartment ? "bi bi-sort-up-alt" : "bi bi-sort-down-alt";

    private void ShowAdminMenuContainer() => ShowHide = !ShowHide;
    private void ShowDepartmentContainer() => ShowHideDepartment = !ShowHideDepartment;

    //void GeneralDepartmentClicked()
    //{
    //    allState.GeneralDepartmentClicked();
    //    //departmentState.Click("GeneralDepartment");
    //}

    //General Department / Department / branch
    void GeneralDepartmentClicked() => allState.GeneralDepartmentClicked();
    void DepartmentClicked() => allState.DepartmentClicked();
    void BranchClicked() => allState.BranchClicked();

    //Country /city/ town
    void CountryClicked() => allState.CountryClicked();
    void CityClicked() => allState.CityClicked();
    void TownClicked() => allState.TownClicked();

    //User
    void UserClicked() => allState.UserClicked();
   
    //Employee
    void EmployeeClicked() => allState.EmployeeClicked();

}

<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        color: var(--text-color);
        background-color: cadetblue;
        top: -16px;
        padding: 1rem 0;
    }

    .nav-scrollable {
        overflow-y: auto;
        max-height: 100vh;
    }

    .slide-toggle {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }

        .slide-toggle.show {
            max-height: 500px;
            transition: max-height 0.4s ease-in;
        }

    .nav-link-group {
        margin-left: 1rem;
        color: var(--text-color);
    }

    .cursorStyle {
        cursor: pointer;
    }
</style>
